domains/WebServicesSchemas/src/main/resources/wsdl/bpo-um-search.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:Q1="http://egov.bg/RegiX/PatentDepartment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bg.org/bpo/register/search/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bpo-register-search" targetNamespace="http://bg.org/bpo/register/search/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://bg.org/bpo/register/search/">
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_App_Number_Request.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_Reg_Number_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_Owner_Name_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_Name_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_PATENT_PatentDetails_Response.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_App_Number_Request.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="Q1:getUtilityModelByAppNum" name="appNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="Q1:PatentDetails" name="GetUMByAppNumResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part element="Q1:getUtilityModelByName" name="umName"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part element="Q1:PatentDetails" name="GetUMsByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest2">
		<wsdl:part element="Q1:getUtilityModelByOwnersName" name="ownersName"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse2">
		<wsdl:part element="Q1:PatentDetails" name="GetUMByOwnersNameResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest3">
		<wsdl:part element="Q1:getUtilityModelByRegNum" name="regNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse3">
		<wsdl:part element="Q1:PatentDetails" name="GetUMByRegNumResponse"/>
	</wsdl:message>
	<wsdl:portType name="BPOUMsSearch">
		<wsdl:operation name="getUMByAppNum">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getUMsByName">
			<wsdl:input message="tns:NewOperationRequest1"/>
			<wsdl:output message="tns:NewOperationResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getUMByOwnersName">
			<wsdl:input message="tns:NewOperationRequest2"/>
			<wsdl:output message="tns:NewOperationResponse2"/>
		</wsdl:operation>
		<wsdl:operation name="getUMByRegNum">
			<wsdl:input message="tns:NewOperationRequest3"/>
			<wsdl:output message="tns:NewOperationResponse3"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BPOUMsSearchBinding" type="tns:BPOUMsSearch">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getUMByAppNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getUMByAppNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUMsByName">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getUMsByName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUMByOwnersName">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getUMByOwnersName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUMByRegNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getUMByRegNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BPOUMsSearchService">
		<wsdl:port binding="tns:BPOUMsSearchBinding" name="BPOUMsSearchServiceDefaultPort">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
