domains/WebServicesSchemas/src/main/resources/wsdl/bpo-epopatents-search.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:Q1="http://egov.bg/RegiX/PatentDepartment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bg.org/bpo/register/search/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bpo-register-search" targetNamespace="http://bg.org/bpo/register/search/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://bg.org/bpo/register/search/">
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EPOPATENT_App_Number_Request.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EPOPATENT_Reg_Number_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EPOPATENT_Patent_Owner_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EPOPATENT_Patent_Name_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_PATENT_PatentDetails_Response.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EPOPATENT_App_Number_Request.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="Q1:getEpoPatentByAppNum" name="appNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="Q1:PatentDetails" name="GetEpoPatentByAppNumResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part element="Q1:getEpoPatentsByName" name="patentName"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part element="Q1:PatentDetails" name="GetEpoPatentsByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest2">
		<wsdl:part element="Q1:getEpoPatentByOwnersName" name="ownersName"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse2">
		<wsdl:part element="Q1:PatentDetails" name="GetEpoPatentByOwnersNameResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest3">
		<wsdl:part element="Q1:getEpoPatentByRegNum" name="regNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse3">
		<wsdl:part element="Q1:PatentDetails" name="GetEpoPatentByRegNumResponse"/>
	</wsdl:message>
	<wsdl:portType name="BPOEPOPatentsSearch">
		<wsdl:operation name="getEpoPatentByAppNum">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getEpoPatentsByName">
			<wsdl:input message="tns:NewOperationRequest1"/>
			<wsdl:output message="tns:NewOperationResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getEpoPatentByOwnersName">
			<wsdl:input message="tns:NewOperationRequest2"/>
			<wsdl:output message="tns:NewOperationResponse2"/>
		</wsdl:operation>
		<wsdl:operation name="getEpoPatentByRegNum">
			<wsdl:input message="tns:NewOperationRequest3"/>
			<wsdl:output message="tns:NewOperationResponse3"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BPOEPOPatentsSearchBinding" type="tns:BPOEPOPatentsSearch">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEpoPatentByAppNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getEpoPatentByAppNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEpoPatentsByName">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getEpoPatentsByName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEpoPatentByOwnersName">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getEpoPatentByOwnersName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEpoPatentByRegNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getEpoPatentByRegNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BPOEPOPatentsSearchService">
		<wsdl:port binding="tns:BPOEPOPatentsSearchBinding" name="BPOEPOPatentsSearchServiceDefaultPort">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
