domains/WebServicesSchemas/src/main/resources/wsdl/bpo-spc-search.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:Q1="http://egov.bg/RegiX/PatentDepartment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bg.org/bpo/register/search/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bpo-register-search" targetNamespace="http://bg.org/bpo/register/search/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://bg.org/bpo/register/search/">
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_SPC_App_Number_Request.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_SPC_Reg_Number_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_SPC_Owner_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_SPC_Details_Response.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_SPC_App_Number_Request.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="Q1:getSPCByPatentAppNum" name="appNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="Q1:SPCDetails" name="GetSPCByAppNumResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part element="Q1:getSPCByOwnersName" name="ownersName"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part element="Q1:SPCDetails" name="GetSPCByOwnersNameResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest2">
		<wsdl:part element="Q1:getSPCByRegNum" name="regNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse2">
		<wsdl:part element="Q1:SPCDetails" name="GetSPCByRegNumResponse"/>
	</wsdl:message>
	<wsdl:portType name="BPOSPCSearch">
		<wsdl:operation name="getSPCByAppNum">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSPCByOwnersName">
			<wsdl:input message="tns:NewOperationRequest1"/>
			<wsdl:output message="tns:NewOperationResponse1"/>
		</wsdl:operation>
		<wsdl:operation name="getSPCByRegNum">
			<wsdl:input message="tns:NewOperationRequest2"/>
			<wsdl:output message="tns:NewOperationResponse2"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BPOSPCSearchBinding" type="tns:BPOSPCSearch">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSPCByAppNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getSPCByAppNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSPCByOwnersName">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getSPCByOwnersName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSPCByRegNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getSPCByRegNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BPOSPCSearchService">
		<wsdl:port binding="tns:BPOSPCSearchBinding" name="BPOSPCSearchServiceDefaultPort">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
