domains/WebServicesSchemas/src/main/resources/wsdl/ebd-d-search.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:Q1="http://egov.bg/RegiX/PatentDepartment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bg.org/bpo/register/search/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bpo-register-search" targetNamespace="http://bg.org/bpo/register/search/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EBD_App_Number_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_EBD_Reg_Number_Request.xsd"/>
			<xsd:import namespace="http://egov.bg/RegiX/PatentDepartment" schemaLocation="../xsd/services/patentdepartment/REG_UM_PATENT_PatentDetails_Response.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="Q1:getEBDPatentByAppNum" name="appNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="Q1:PatentDetails" name="GetEBDPatentByAppNumResponse"/>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part element="Q1:getEBDPatentByRegNum" name="regNum"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part element="Q1:PatentDetails" name="GetEBDPatentByRegNumResponse"/>
	</wsdl:message>
	<wsdl:portType name="BPOEBDPatentsSearch">
		<wsdl:operation name="getEBDPatentByAppNum">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getEBDPatentByRegNum">
			<wsdl:input message="tns:NewOperationRequest1"/>
			<wsdl:output message="tns:NewOperationResponse1"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BPOEBDPatentsSearchBinding" type="tns:BPOEBDPatentsSearch">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEBDPatentByAppNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getEBDPatentByAppNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEBDPatentByRegNum">
			<soap:operation soapAction="http://bg.org/bpo/register/search/getEBDPatentByRegNum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BPOEBDPatentsSearchService">
		<wsdl:port binding="tns:BPOEBDPatentsSearchBinding" name="BPOEBDPatentsSearchServiceDefaultPort">
			<soap:address location="http://localhost:8081/ebd-d-service"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
