domains/WebServicesSchemas/src/main/resources/xsd/services/patentdepartment/REG_SPC_App_Number_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="getSPCByPatentAppNum" type="getSPCByPatentAppNumType">
		<xs:annotation>
			<xs:documentation>Справка за статус на сертификат за допълнителна закрила по заявителски номер</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getSPCByPatentAppNumType">
		<xs:sequence>
			<xs:element name="pat_appnum" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
