domains/WebServicesSchemas/src/main/resources/xsd/services/patentdepartment/REG_UM_PATENT_PatentDetails_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment">
	<xs:include schemaLocation="../../domain/patentdepartment/CommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="bg">PatentDetails - Root element; Съдържа един или повече елемента от тип PatentType</xs:documentation>
	</xs:annotation>
	<xs:element name="PatentDetails" type="PatentDetailsType"/>
	<xs:complexType name="PatentDetailsType">
		<xs:sequence>
			<xs:element name="Patent" type="PatentType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation xml:lang="bg">PatentType - Съдържа данни за един патент:</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicationNumber - Заявителски номер</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicationDate - Дата на заявяване</xs:documentation>
		<xs:documentation xml:lang="bg">EntitlementDate - Начало на закрила</xs:documentation>
		<xs:documentation xml:lang="bg">RegistrationNumber - Регистров номер номер </xs:documentation>
		<xs:documentation xml:lang="bg">RegistrationDate - Дата на регистрация </xs:documentation>
		<xs:documentation xml:lang="bg">ExpiryDate - Дата на изтичане на срока на закрила (или само "срок на закрила")</xs:documentation>
		<xs:documentation xml:lang="bg">PatentCurrentStatusCode -Статус на патента (правен статус) - изброяване, дефинирано в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">PatentCurrentStatusDate - Дата на придобиване на текущия правен статус</xs:documentation>
		<xs:documentation xml:lang="bg">PatentTitle - Заглавие на патента</xs:documentation>
		<xs:documentation xml:lang="bg">PatentDescription -  Описание (абстракт) - свободен текст, незадължително</xs:documentation>
		<xs:documentation xml:lang="bg">PatentKind - Тип на патента  - изброяване, дефинирано в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">PatentRepresentationSheetDetails -  Графични изображения на патента</xs:documentation>
		<xs:documentation xml:lang="bg">IPCClassDetails -Класове съгласно Международната Патентна Класификация (МПК) </xs:documentation>
		<xs:documentation xml:lang="bg">PriorityDetails - конвенционен приоритет - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">ExhibitionPriorityDetails - изложбен приоритет - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">PublicationDetails - данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">ApplicantDetails -данни за заявителите - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">RepresentativeDetails - данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">InventorDetails - данни за изобретател(и)- съгласно дефиницията в CommonTypes.xsd</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PatentType">
		<xs:sequence>
			<!-- Заявителски номер-->
			<xs:element name="ApplicationNumber" type="xs:string"/>
			<!-- Дата на заявяване-->
			<xs:element name="ApplicationDate" type="xs:date"/>
			<!-- Начало на закрила -->
			<xs:element name="EntitlementDate" type="xs:date" minOccurs="0"/>
			<!-- Регистров номер номер -->
			<xs:element name="RegistrationNumber" type="xs:string" minOccurs="0"/>
			<!-- Дата на регистрация -->
			<xs:element name="RegistrationDate" type="xs:date" minOccurs="0"/>
			<!-- Външен номер-->
			<xs:element name="ExternalReferenceNumber" type="xs:string" minOccurs="0"/>
			<!-- Дата на изтичане на срока на закрила (или само "срок на закрила")-->
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
			<!-- Статус (правен статус) - изброяване, дефинирано в CommonTypes.xsd-->
			<xs:element name="PatentCurrentStatusCode" type="xs:string" minOccurs="0"/>
			<!-- Обобщен статус - Registered, Withdrawn, Filed и др подобни -->
			<xs:element name="PatentGroupStatusCode" type="xs:string" minOccurs="0"/>
			<!-- Дата на придобиване на текущия правен статус-->
			<xs:element name="PatentCurrentStatusDate" type="xs:date" minOccurs="0"/>
			<!-- Заглавие на патента -->
			<xs:element name="PatentTitle" type="TextType" minOccurs="0"/>
			<!-- Заглавие на патента на втори език-->
			<xs:element name="PatentTitleSecondLanguage" type="TextType" minOccurs="0"/>
			<!-- Описание (абстракт) - свободен текст, незадължително -->
			<xs:element name="PatentDescription" type="TextType" minOccurs="0"/>
			<!-- Тип на патента  - изброяване, дефинирано в CommonTypes.xsd -->
			<xs:element name="PatentKind" type="xs:string" minOccurs="0"/>
			<!-- Графични изображения на патента -->
			<xs:element name="PatentRepresentationSheetDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PatentViews" type="ViewType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- Класове съгласно Международната Патентна Класификация (МПК) -->
			<xs:element name="IPCClassDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IPCClass" type="xs:string" maxOccurs="unbounded"/>
						<xs:element name="IPCName" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- конвенционен приоритет - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="PriorityDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Priority" type="PriorityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- изложбен приоритет - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="ExhibitionPriorityDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExhibitionPriority" type="ExhibitionPriorityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="PublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Publication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--данни за заявителите - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="ApplicantDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Applicant" type="ApplicantType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="RepresentativeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Representative" type="RepresentativeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за изобретател(и)- съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="InventorDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Inventor" type="InventorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PCTDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PCT" type="PCTType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
