domains/WebServicesSchemas/src/main/resources/xsd/services/patentdepartment/REG_UM_Name_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="getUtilityModelByName" type="getUtilityModelByNameType">
		<xs:annotation>
			<xs:documentation>Справка по име на полезен модел</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getUtilityModelByNameType">
		<xs:sequence>
			<xs:element name="umodelname" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
