domains/WebServicesSchemas/src/main/resources/xsd/services/patentdepartment/REG_SPC_Details_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment">
	<xs:include schemaLocation="../../domain/patentdepartment/CommonTypes.xsd"/>
	<xs:annotation>
			<xs:documentation xml:lang="bg">SPCDetails - Root element; Съдържа един или повече елемента от тип SPCType </xs:documentation>
	</xs:annotation>
	<xs:element name="SPCDetails" type="SPCDetailsType"/>
	<xs:complexType name="SPCDetailsType">
		<xs:sequence>
			<xs:element name="SPC" type="SPCType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:annotation>
		<xs:documentation xml:lang="bg">SPCType - Съдържа данни за един сертификат за допълнителна закрила:</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicationNumber - Заявителски номер</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicationDate - Дата на заявяване</xs:documentation>
		<xs:documentation xml:lang="bg">RelPatAppNumber - Регистров номер на свързан патент </xs:documentation>
		<xs:documentation xml:lang="bg">RegistrationDate - Дата на регистрация </xs:documentation>
		<xs:documentation xml:lang="bg">ExpiryDate - Дата на изтичане на срока на закрила (или само "срок на закрила")</xs:documentation>
		<xs:documentation xml:lang="bg">SPCCurrentStatusCode - Статус (правен статус) - изброяване, дефинирано в CommonTypes.xsd (използват се статусите, приложими за патентите)</xs:documentation>
		<xs:documentation xml:lang="bg">SPCGroupStatusCode - Обобщен статус - Registered, Withdrawn, Filed и др подобни</xs:documentation>
		<xs:documentation xml:lang="bg">SPCCurrentStatusDate - Дата на придобиване на текущия правен статус</xs:documentation>
		<xs:documentation xml:lang="bg">SPCTitle - Заглавие </xs:documentation>
		<xs:documentation xml:lang="bg">SPCDescription -  Описание (абстракт) - свободен текст, незадължително</xs:documentation>
		<xs:documentation xml:lang="bg">IPCClassDetails -Класове съгласно Международната Патентна Класификация (МПК) </xs:documentation>
		<xs:documentation xml:lang="bg">PublicationDetails - данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">ApplicantDetails -данни за заявителите - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">RepresentativeDetails - данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd </xs:documentation>
		<xs:documentation xml:lang="bg">InventorDetails - данни за изобретател(и)- съгласно дефиницията в CommonTypes.xsd</xs:documentation>
	</xs:annotation>	
	
	<xs:complexType name="SPCType">
		<xs:sequence>
			<!-- Заявителски номер-->
			<xs:element name="ApplicationNumber" type="xs:string"/>
			<!-- Дата на заявяване-->
			<xs:element name="ApplicationDate" type="xs:date"/>
			<!-- Регистров номер на свързан патент -->
			<xs:element name="RelPatAppNumber" type="xs:string" minOccurs="0"/>
			<!-- Дата на издаване -->
			<xs:element name="RegistrationDate" type="xs:date" minOccurs="0"/>
			<!-- Дата на изтичане на срока на закрила (или само "срок на закрила")-->
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
			<!-- Статус (правен статус) - изброяване, дефинирано в CommonTypes.xsd (използват се статусите, приложими за патентите) -->
			<xs:element name="SPCCurrentStatusCode" type="xs:string" minOccurs="0"/>
			<!-- Обобщен статус - Registered, Withdrawn, Filed и др подобни -->
			<xs:element name="SPCGroupStatusCode" type="xs:string" minOccurs="0"/>
			<!-- Дата на придобиване на текущия правен статус-->
			<xs:element name="SPCCurrentStatusDate" type="xs:date" minOccurs="0"/>
			<!-- Заглавие на SPC -->
			<xs:element name="SPCTitle" type="TextType" minOccurs="0"/>
			<!-- Описание (абстракт) - свободен текст, незадължително -->
			<xs:element name="SPCDescription" type="TextType" minOccurs="0"/>
			<!-- Класове съгласно Международната Патентна Класификация (МПК) -->
			<xs:element name="IPCClassDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IPCClass" type="xs:string" maxOccurs="unbounded"/>
						<xs:element name="IPCName" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="PublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Publication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--данни за заявителите - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="ApplicantDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Applicant" type="ApplicantType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="RepresentativeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Representative" type="RepresentativeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за изобретател(и)- съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="InventorDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Inventor" type="InventorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
