domains/WebServicesSchemas/src/main/resources/xsd/services/patentdepartment/REG_PLANT_App_Number_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="getPlantByAppNum" type="getPlantByAppNumType">
		<xs:annotation>
			<xs:documentation>Справка за статус на EPO патент по заявителски номер </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getPlantByAppNumType">
		<xs:sequence>
			<xs:element name="appnum" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
