domains/WebServicesSchemas/src/main/resources/xsd/domain/patentdepartment/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- ====================================================================== -->
	<!-- Filename    : TransactionHeaderType.xsd                                -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionHeaderType">
		<xs:sequence>
			<xs:element name="SenderDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestProducer" type="xs:string" minOccurs="0"/>
						<xs:element name="RequestProducerDateTime" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : TransactionCodeType.xsd                                  -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="TransactionCodeType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Trade Mark Information"/>
					<xs:enumeration value="Geographical Indication Information"/>
					<xs:enumeration value="Industrial Design Information"/>
					<xs:enumeration value="Patent Information"/>
					<xs:enumeration value="Utility Model Information"/>
					<xs:enumeration value="SPC Information"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : TransactionErrorType.xsd                                 -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionErrorType">
		<xs:sequence>
			<xs:element name="TransactionErrorCode" type="xs:token" minOccurs="0"/>
			<xs:element name="TransactionErrorText" type="TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkCurrentStatusCodeType.xsd                            -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                        -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Application filed"/>
			<xs:enumeration value="Filing date accorded"/>
			<xs:enumeration value="Classification checked"/>
			<xs:enumeration value="Application accepted"/>
			<xs:enumeration value="Application published"/>
			<xs:enumeration value="Application opposed"/>
			<xs:enumeration value="Application refused"/>
			<xs:enumeration value="Application deemed withdrawn"/>
			<xs:enumeration value="Application withdrawn"/>
			<xs:enumeration value="Appeal pending"/>
			<xs:enumeration value="Interruption of proceedings"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Registration opposed"/>
			<xs:enumeration value="Registration cancellation pending"/>
			<xs:enumeration value="Registration cancelled"/>
			<xs:enumeration value="Conversion requested"/>
			<xs:enumeration value="Registration surrendered"/>
			<xs:enumeration value="Revocation proceeding pending"/>
			<xs:enumeration value="Invalidity proceeding pending"/>
			<xs:enumeration value="Action before Court of Justice pending"/>
			<xs:enumeration value="Expired"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : DesignCurrentStatusCodeType.xsd                           -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="DesignCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Filed"/>
			<xs:enumeration value="Withdrawn"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Undefined"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : PatentCurrentStatusCodeType.xsd                           -->
	<!-- ====================================================================== -->
	<xs:simpleType name="PatentCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Filed"/>
			<xs:enumeration value="Withdrawn"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Undefined"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ====================================================================== -->
	<!-- Filename    : PatentKindType.xsd                                       -->
	<!-- ====================================================================== -->
	<xs:simpleType name="PatentKindType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="NationalPatent"/>
			<xs:enumeration value="SPCPatent"/>
			<xs:enumeration value="NationalUtilityModel"/>
			<xs:enumeration value="SPCUtilityModel"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : ViewType.xsd                                             -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ViewType">
		<xs:sequence>
			<xs:element name="ViewIdentifier" type="xs:token" minOccurs="0"/>
			<xs:element name="ViewFileFormat" type="FileFormatType" minOccurs="0"/>
			<xs:element name="ViewTitle" type="TextType" minOccurs="0"/>
			<xs:element name="ViewBinary" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : KindMarkType.xsd                                         -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="KindMarkType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Individual"/>
					<xs:enumeration value="Collective"/>
					<xs:enumeration value="Certificate"/>
					<xs:enumeration value="Guarantee"/>
					<xs:enumeration value="Defensive"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkFeatureType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkFeatureType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Word"/>
					<xs:enumeration value="Stylized characters"/>
					<xs:enumeration value="Figurative"/>
					<xs:enumeration value="Combined"/>
					<xs:enumeration value="3-D"/>
					<xs:enumeration value="Colour"/>
					<xs:enumeration value="Sound"/>
					<xs:enumeration value="Hologram"/>
					<xs:enumeration value="Olfactory"/>
					<xs:enumeration value="Motion"/>
					<xs:enumeration value="Municipal"/>
					<xs:enumeration value="Chimney"/>
					<xs:enumeration value="Kennfaden"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Undefined"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : WordMarkSpecificationType.xsd                            -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="WordMarkSpecificationType">
		<xs:sequence>
			<xs:element name="MarkVerbalElementText" type="TextType" minOccurs="0"/>
			<xs:element name="MarkTranslation" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : TextType.xsd                                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="languageCode" type="xs:language" use="optional"/>
				<xs:attribute name="sequenceNumber" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkImageType.xsd                                        -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkImageType">
		<xs:sequence>
			<xs:element name="MarkImageFileFormat" type="FileFormatType" minOccurs="0"/>
			<xs:element name="MarkImageColourClaimedText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MarkImageCategory" type="MarkImageCategoryType" minOccurs="0"/>
			<xs:element name="MarkImageBinary" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkImageCategoryType.xsd                                -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkImageCategoryType">
		<xs:sequence>
			<xs:element name="CategoryCodeDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CategoryCode" type="CategoryCodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : CategoryCodeType.xsd                                     -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="CategoryCodeType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9][0-9].[0-9][0-9].[0-9][0-9]|[0-9][0-9].[0-9][0-9]|([0-9][0-9]){4}|([0-9][0-9]){6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : FileFormatType.xsd                                       -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="FileFormatType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="JPEG"/>
					<xs:enumeration value="TIFF"/>
					<xs:enumeration value="PNG"/>
					<xs:enumeration value="GIF"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : GoodsServicesType.xsd                                    -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="GoodsServicesType">
		<xs:sequence>
			<xs:element name="ClassDescriptionDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassDescription" type="ClassDescriptionType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Filename    : ClassDescriptionType.xsd                                 -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ClassDescriptionType">
		<xs:sequence>
			<xs:element name="ClassNumber" type="ClassNumberType" minOccurs="0"/>
			<xs:element name="GoodsServicesDescription" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : ClassNumberType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="ClassNumberType">
		<xs:union memberTypes="xs:token NiceClassNumberType"/>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : NiceClassNumberType.xsd                                  -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="NiceClassNumberType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : ClassDescriptionType.xsd                                 -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="LocarnoClassDescriptionType">
		<xs:sequence>
			<xs:element name="ClassNumber" type="xs:string"/>
			<xs:element name="ProductDescription" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : PriorityType.xsd                                         -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="PriorityType">
		<xs:sequence>
			<xs:element name="PriorityCountryCode" type="xs:string"/>
			<xs:element name="PriorityNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PriorityDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : ExhibitionPriorityType.xsd                               -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ExhibitionPriorityType">
		<xs:sequence>
			<xs:element name="ExhibitionCountryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ExhibitionCityName" type="xs:string" minOccurs="0"/>
			<xs:element name="ExhibitionName" type="xs:string" minOccurs="0"/>
			<xs:element name="ExhibitionDate" type="xs:date"/>
			<xs:element name="Comment" type="TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : PublicationType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="PublicationType">
		<xs:sequence>
			<xs:element name="PublicationIdentifier" type="xs:string"/>
			<xs:element name="PublicationSection" type="xs:string" minOccurs="0"/>
			<xs:element name="PublicationSectionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="PublicationSubsection" type="xs:string" minOccurs="0"/>
			<xs:element name="PublicationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : ApplicantType.xsd                                        -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ApplicantType">
		<xs:sequence>
			<xs:element name="ApplicantIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ApplicantNationalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ApplicantAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : AddressBookType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressBookType">
		<xs:sequence>
			<xs:element name="FormattedNameAddress" type="FormattedNameAddressType" minOccurs="0"/>
			<xs:element name="ContactInformationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="OtherElectronicAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedNameAddressType.xsd                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameAddressType">
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0"/>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : NameType.xsd                                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="FormattedName" type="FormattedNameType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : AddressType.xsd                                          -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="FormattedAddress" type="FormattedAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RepresentativeType.xsd                                   -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RepresentativeType">
		<xs:sequence>
			<xs:element name="RepresentativeIdentifier" type="xs:string"/>
			<xs:element name="RepresentativeNationalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="RepresentativeLegalEntity" type="xs:string" minOccurs="0"/>
			<xs:element name="RepresentativeAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : DesignerType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="DesignerType">
		<xs:sequence>
			<xs:element name="DesignerNationalityCode" type="xs:string"/>
			<xs:element name="DesignerLegalEntity" type="xs:string" minOccurs="0"/>
			<xs:element name="DesignerAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : InventorType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="InventorType">
		<xs:sequence>
			<xs:element name="InventorIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="InventorNationalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="InventorLegalEntity" type="xs:string" minOccurs="0"/>
			<xs:element name="InventorAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ====================================================================== -->
	<!-- Filename    : PCTType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="PCTType">
		<xs:sequence>
			<xs:element name="PCTApplicationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PCTPublicationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PCTCountryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="PCTApplicationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="PCTPublicationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedAddressType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameType">
		<xs:sequence>
			<xs:element name="NamePrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
			<xs:element name="LastName" type="xs:string" minOccurs="0"/>
			<xs:element name="SecondLastName" type="xs:string" minOccurs="0"/>
			<xs:element name="OrganizationName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedAddressType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedAddressType">
		<xs:sequence>
			<xs:element name="AddressStreet" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCity" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCounty" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressState" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressPostcode" type="xs:string" minOccurs="0"/>
			<xs:element name="FormattedAddressCountryCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
